<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/user/" enctype="application/x-www-form-urlencoded" method="post">
        <label>test_1</label>
        <br>
        <input name="test_1" type="test_1">
        <br>
        <label>test_2</label>
        <br>
        <input name="test_2" type="test_2">
        <br><br>
        <input type="submit">
    </form>
    <form action="/files/" enctype="multipart/form-data" method="post">
        <input name="files_list" type="file" multiple><br><br>
        <input name="files_name" type="file" multiple><br><br>
        <input type="submit" value="点击这里显示文件名字与大小">
    </form>

    <form action="/create_file/" enctype="multipart/form-data" method="post">
        <input name="file" type="file" multiple><br><br>
        <input name="fileb" type="file" multiple><br><br>
        <input name="notes" type="text" multiple><br><br>
        <input type="submit" value="点击这里显示文件属性">
    </form>
</div>
</body>
</html>